html,
body {
	margin:0;
   	padding:0;
  	height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body > .container {
	padding-top: 50px;
	padding-bottom: 30px;
}

.container {
	min-height:90%;
   	position:relative;
}

body {
	background-color: #F5F5F5;
}

.container-fluid {
	background-color: white;
}

footer {
	color: white;
	bottom: 0;
	width: 100%;
}

footer h3 {
  	margin-bottom: 30px;
}

footer .footer-above {
	padding-top: 50px;
	background-color: #173e43;
}

footer .footer-col {
	margin-bottom: 50px;
}

footer .footer-below {
	padding: 25px 0;
	background-color: #005F8C;
}

a.link-content{
	color: black;
	text-decoration: none;
}

a.link-profile{
	color: #3498db;
	text-decoration: none;
}

.aboutme {
	color: #7f8c8d;
}

.box-content:hover {
	box-shadow: 0 0 10px 2px #ddd;
	/*shadow: 2px solid #ddd;*/
}
.navbar-custom {
	/*font-family: "GT Walsheim", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	text-transform: uppercase;
	font-weight: 700;
	border-bottom-color: #ADD7F6; 
}

.navbar-custom .navbar-brand {
  color: #1B98E0;
}

.navbar-nav:hover,
.navbar-nav:focus,
.navbar-nav:active,
.navbar-nav.active {
  color: black;
}

.navbar-default .navbar-nav > li > a {
    color: #20A4F3;
}

.row {
	margin-top: 10px;
}

.box-post {
	border: 1px solid #ddd;
	margin: 0px;
	border-radius: 2.5px;
	background-color: white;
	padding: 10px;
}

.box-user {
	border: 1px solid #ddd;
	margin: 0px;
	border-radius: 0px;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
}

.box-content {
	border-radius: 0px;
	border: 1px solid #ddd;
	margin-top: 20px;
	padding: 5px;
	text-decoration: none;
}

.box-content-detail {
	background-color: white;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin-top: 20px;
	padding: 5px;
	text-decoration: none;
}

.header-content {
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
}

.body-content {
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
}

.footer-content {
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
}

.user-profile-img {
	border: 3px solid #ddd;
	margin : 0 auto;
	padding: 3px;

}

.form {
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-form {
	text-align: center;
	color: #17183B;
}

.img {
	padding: 20px;
	height: 120px;
}

.main-footer {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

.body-user {
	border-radius: 2.5px;
	background-color: white;
	padding: 10px;
}

.header-content {
	color: #3498db;
}

.footer-content {
	color: #7f8c8d;
}

.box-img-preview {
	border: 2px solid #ddd;
	display: block;
}

.img-preview, .remove-img {
	margin: 5px;
	display: inline-block;
}

.btn-file {
    position: relative;
    overflow: hidden;
    /*font-size: 14px;*/
}
        
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    /*min-width: 100%;*/
    min-height: 100%;
    /*font-size: 100px;*/
    /*text-align: right;*/
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-group textarea, input[type=text] {
	border-radius: 0px;
}